<aside>
    <div>
        <h3>Buscar</h3>
        <!-- aqui será exibido um formulário para buscar posts por um termo -->
    </div>
    <div id="categorias">
        <h3>Categorias</h3>
        <!-- aqui serão exibidas links para as categorias do blog -->
    </div>
    <div id="autores">
        <h3>Autores</h3>
        <!-- aqui serão exibidas links para os autores do blog -->
    </div>
</aside>
