<aside>
    <div>
        <h3>Buscar</h3>
        <!-- aqui será exibido um formulário para buscar posts por um termo -->
        <form asp-controller="Home" asp-action="Busca" method="get" class="inline-form">
            <div class="input-group">
                <input type="text" name="termo" class="form-control" placeholder="Buscar por..." >
                <span class="input-group-append">
                    <button class="btn btn-primary" type="submit">Ok</button>
                </span>
            </div>
        </form>

    </div>
    <div id="categorias">
        <h3>Categorias</h3>
        <!-- aqui serão exibidas links para as categorias do blog -->
    </div>
    <div id="autores">
        <h3>Autores</h3>
        <!-- aqui serão exibidas links para os autores do blog -->
    </div>
</aside>
