body {
	background-color: #ccc;
}
main {
	float: left;
	width: 70%
}
aside {
	float: left;
	width: 25%;
	background-color: gray;
	padding: 20px;
	border-radius: 5px;
	background-color: black;
	color: white;
}

aside>div{
	padding-bottom: 10px;
}
aside>div>ul{
	padding-left: 5px;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px 0;
    margin-top: 30px;
}
article {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 3%;
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
}
main>form+p {
	padding-top: 10px;
}
.jumbotron{
	background: #eee url('../images/back.png') center;
	padding-left: 40px;
	box-shadow: 2px 2px 3px;
}
#login {
	position: absolute;
	top: 5px;
	right: 5px;
}

#login-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    vertical-align: middle;
}

#login-form button {
    margin-top: 20px;
}