<html>
    <head></head>
    <body>
        <form action="/Post/Adiciona">
            <label>
                Título: <input name="titulo" />
            </label>
            <label>
                Resumo: <input name="resumo" />
            </label>
            <label>
                Categoria: <input name="categoria"/>
            </label>
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>

