@model Blog.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head></head>
    <body>
        <div>
            @using(Html.BeginForm("Adiciona", "Post"))
            {
                @Html.EditorFor(p => p)

                <button type="submit">Cadastrar</button>
            }
        </div>
        <script src="~/js/jquery-1.10.2.js"></script>
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
    </body>
</html>

<!-- Usando tag helpers

<form asp-controller="Post" asp-action="Adiciona" method="post">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo"/>
        <span asp-validation-for="Titulo"></span>
        <label asp-for="Resumo"></label>
        <input asp-for="Resumo"/>
        <span asp-validation-for="Resumo"></span>
        <label asp-for="Categoria"></label>
        <input asp-for="Categoria"/>
        <span asp-validation-for="Categoria"></span>
        <button type="submit">Cadastrar</button>
    </form>

-->