@model Blog.Models.Post

<div>
    @using(Html.BeginForm("Adiciona", "Post"))
    {
        @Html.EditorFor(p => p)
        <button type="submit">Cadastrar</button>
    }
</div>

@section Scripts {
    @Html.Partial("_Scripts")
}

