@model Blog.Models.Post
<div>
    <form action="/Post/Edita" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <label>
         Título: <input name="titulo" value="@Model.Titulo" />
        </label>
        <label>
          Resumo: <input name="resumo" value="@Model.Resumo" />
        </label>
        <label>
          Categoria: <input name="categoria" value="@Model.Categoria" />
        </label>
        <button type="submit">Cadastrar</button>
    </form>
</div>
