<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Administração - Resenha Cultural</title>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="~/css/estilo-admin.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        @Html.Partial("MenuAdmin")
        <main>
            @RenderBody()
        </main>
        @RenderSection("Scripts",false)
    </body>
</html>
